<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>物料明细</title>
		<link rel="stylesheet" href="../../../css/mui.css" />
		<link rel="stylesheet" href="../../../css/reset.css" />
		<link rel="stylesheet" type="text/css" href="../css/material-details.css" />

	</head>

	<body id="body_material_details">
		<div class="main">
			<header class="mui-bar mui-bar-nav">
				<div class="mui-action-back">
					<a class="mui-icon mui-icon-left-nav mui-pull-left"></a>
					<span class="wms-title">物料明细</span>
				</div>
			</header>
			<div id="div_material_details" class="mui-content">
				<!--
				<div class="div-top">
					<div class="div-title">物料明细</div>
				</div>
				-->
				<ul class="info-list">
					<li class="item" style="position: relative;">
						<span class="title">
							<span style="color: red;">*&nbsp;</span>品名
						</span>
						<input type="text" readonly placeholder="请选择品名" :value="brandName" @click="showSelectBox('brandList')" />
						<span class="mui-icon mui-icon-arrowright" style="position: absolute; right: 0; top: 6px;"></span>
					</li>
					<li class="item" style="position: relative;">
						<span class="title">
							<span style="color: red;">*&nbsp;</span>材质
						</span>
						<input type="text" readonly placeholder="请选择材质" :value="textureName" @click="showSelectBox('textureList')" />
						<span class="mui-icon mui-icon-arrowright" style="position: absolute; right: 0; top: 6px;"></span>
					</li>
					<li class="item" style="position: relative;">
						<span class="title">
							<span style="color: red;">*&nbsp;</span>规格
						</span>
						<input type="text" readonly placeholder="请选择规格" :value="specificationName" @click="showSelectBox('specificationList')" />
						<span class="mui-icon mui-icon-arrowright" style="position: absolute; right: 0; top: 6px;"></span>
					</li>
					<li class="item" style="position: relative;">
						<span class="title">
							<span style="color: red;">*&nbsp;</span>产地
						</span>
						<input type="text" readonly placeholder="请选择产地" :value="placesteelName" @click="showSelectBox('placesteelList')" />
						<span class="mui-icon mui-icon-arrowright" style="position: absolute; right: 0; top: 6px;"></span>
					</li>
					<li class="item" style="position: relative;">
						<span class="title">
							<span style="color: red;">*&nbsp;</span>捆包号
						</span>
						<input type="text" placeholder="请填写捆包号" v-model="packageNo" />
					</li>
					<li class="item" style="position: relative;">
						<span class="title">
							<span style="color: red;">*&nbsp;</span>应收数量
						</span>
						<input type="text" placeholder="请填写应收数量" v-model="receivableNum" />
						<span class="unit" v-text="receivableNumUnitDesc"></span>
					</li>
					<li class="item" style="position: relative;">
						<span class="title">
							<span style="color: red;">*&nbsp;</span>应收重量
						</span>
						<input type="text" placeholder="请填写应收重量" v-model="receivableWeight" />
						<span class="unit" v-text="receivableWeightUnitDesc"></span>
					</li>
					<li class="item" style="position: relative;">
						<span class="title">
							<span style="color: red;">*&nbsp;</span>实收数量
						</span>
						<input type="text" placeholder="请填写实收数量" v-model="realNum" />
						<span class="unit" v-text="realNumUnitDesc"></span>
					</li>
					<li class="item" style="position: relative;">
						<span class="title">
							<span style="color: red;">*&nbsp;</span>实收重量
						</span>
						<input type="text" placeholder="请填写实收重量" v-model="realWeight" />
						<span class="unit" v-text="realWeightUnitDesc"></span>
					</li>
					<li class="item" style="position: relative;">
						<span class="title">
							<span style="color: red;">*&nbsp;</span>库位
						</span>
						<input type="text" readonly placeholder="请选择库位" :value="warehousePlaceName" @click="showSelectBox('warehousePlaceList')" />
						<span class="mui-icon mui-icon-arrowright" style="position: absolute; right: 0; top: 6px;"></span>
					</li>
					<li class="item" style="position: relative;">
						<span class="title">
							<span style="color: red;">&nbsp;&nbsp;</span>层号
						</span>
						<input type="text" placeholder="请填写层号" v-model="storeyNo" />
					</li>
					<li class="item" style="position: relative;">
						<span class="title">
							<span style="color: red;">*&nbsp;</span>车船号
						</span>
						<input type="text" placeholder="请填写车船号" v-model="carNo" />
					</li>
					<li class="item" style="position: relative;">
						<span class="title">
							<span style="color: red;">*&nbsp;</span>计量方式
						</span>
						<input type="text" readonly placeholder="请选择计量方式" :value="countWeightModeDesc" @click="showSelectBox('countWeightModeList')" />
						<span class="mui-icon mui-icon-arrowright" style="position: absolute; right: 0; top: 6px;"></span>
					</li>
				</ul>
			</div>
		</div>
		<nav id="nav_footer" class="mui-bar mui-bar-tab">
			<div class="nav-div" @tap="submit">确定</div>
		</nav>
		<div id="brandList" class="select-box">
			<div class="title">
				<!--<span class="mui-icon iconfont icon-luowengang5"></span>-->品名选择
			</div>
			<div class="content mui-scroll-wrapper">
				<ul class="mui-scroll">
					<li v-for="(index, item) in brandList" @click="pickBrand($event, item)" v-text="item.text"></li>
				</ul>
			</div>
			<div class="foot">
				<button class="close" @click="hideSelectBox('brandList', false)">取消</button>
				<!--<button class="sure" @tap="hideSelectBox('brandList', true)">确定</button>-->
			</div>
		</div>
		<div id="textureList" class="select-box">
			<div class="title">
				<!--<span class="mui-icon iconfont icon-gangchang5"></span>-->材质选择
			</div>
			<div class="content mui-scroll-wrapper">
				<ul class="mui-scroll">
					<li v-for="(index, item) in textureList" @click="pickTexture($event, item)" v-text="item.text"></li>
				</ul>
			</div>
			<div class="foot">
				<button class="close" @click="hideSelectBox('textureList', false)">取消</button>
			</div>
		</div>
		<div id="specificationList" class="select-box">
			<div class="title">
				<!--<span class="mui-icon iconfont icon-gangchang5"></span>-->规格选择
			</div>
			<div class="content mui-scroll-wrapper">
				<ul class="mui-scroll">
					<li v-for="(index, item) in specificationList" @click="pickSpecification($event, item)" v-text="item.text"></li>
				</ul>
			</div>
			<div class="foot">
				<button class="close" @click="hideSelectBox('specificationList', false)">取消</button>
			</div>
		</div>
		<div id="placesteelList" class="select-box">
			<div class="title">
				<!--<span class="mui-icon iconfont icon-gangchang5"></span>-->产地选择
			</div>
			<div class="content mui-scroll-wrapper">
				<ul class="mui-scroll">
					<li v-for="(index, item) in placesteelList" @click="pickPlacesteel($event, item)" v-text="item.text"></li>
				</ul>
			</div>
			<div class="foot">
				<button class="close" @click="hideSelectBox('placesteelList', false)">取消</button>
			</div>
		</div>
		<div id="warehousePlaceList" class="select-box">
			<div class="title">
				<!--<span class="mui-icon iconfont icon-gangchang5"></span>-->库位选择
			</div>
			<div class="content mui-scroll-wrapper">
				<ul class="mui-scroll">
					<li v-for="(index, item) in warehousePlaceList" @click="pickWarehousePlace($event, item)" v-text="item.text"></li>
				</ul>
			</div>
			<div class="foot">
				<button class="close" @click="hideSelectBox('warehousePlaceList', false)">取消</button>
			</div>
		</div>
		<div id="countWeightModeList" class="select-box">
			<div class="title">
				<!--<span class="mui-icon iconfont icon-gangchang5"></span>-->计量方式选择
			</div>
			<div class="content mui-scroll-wrapper">
				<ul class="mui-scroll">
					<li v-for="(index, item) in countWeightModeList" @click="pickCountWeightMode($event, item)" v-text="item.text"></li>
				</ul>
			</div>
			<div class="foot">
				<button class="close" @click="hideSelectBox('countWeightModeList', false)">取消</button>
			</div>
		</div>
		<div class="cyq_mask" @click="hideSelectBox()"></div>
	</body>
	<script type="text/javascript " id="seajsnode " src="../../../js/seajs/sea-all.min.js"></script>
	<script>
		seajs.use("../js/material-details.js");
	</script>

</html>