<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>收货单详情</title>
		<link rel="stylesheet" href="../../../css/mui.css" />
		<link rel="stylesheet" href="../../../css/reset.css" />
		<link rel="stylesheet" type="text/css" href="../css/receive-list-detail.css" />
	</head>

	<body >
		<div id="receivingRegister">
			<header class="mui-bar mui-bar-nav">
				<div class="mui-action-back">
					<a class="mui-icon mui-icon-left-nav mui-pull-left"></a>
					<span class="wms-title" style="margin-left: 10px;" v-text="receivingCodeStr">已收货详情</span>
				</div>
			</header>
			<div id="slider" class="mui-content mui-slider" >
				<div class="fixed-top">
					<div class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted" style="height: 40px; line-height:40px; border-bottom: 1px solid #ebebeb;">
						<a class="mui-control-item" href="#div_basic_info" @tap="onItemSliderClick($event,0)">基本信息</a>
						<a class="mui-control-item" href="#div_attach" @tap="onItemSliderClick($event,1)">附件</a>
					</div>
					<div id="sliderProgressBar" class="mui-slider-progress-bar mui-col-xs-6"></div>
				</div>
				<div id="sliderContent" class="mui-slider-group" style="top: -2px;">
					<!--基本信息-->
					<div id="div_basic_info" class="mui-slider-item mui-control-content mui-active">
						<div id="queryContent">
							<ul class="query-list">
								<li class="item" style="position: relative;">
								</li>
								<li class="item" style="position: relative;">
									<span class="title">
										收货时间
									</span>
									<input type="text" readonly placeholder="" :value="enteringDetails.receivingDate" />
								</li>
								<li class="item" style="position: relative;">
									<span class="title">货主单位</span>
									<input style=" display: inline-block;  width:calc(100% - 8em);"  type="text" readonly placeholder="" :value="enteringDetails.ownerName" />
								</li>
								<li class="item" style="position: relative;">
									<span class="title">结算单位</span>
									<input style=" display: inline-block;  width:calc(100% - 8em);"  type="text" readonly placeholder="" :value="enteringDetails.spenderName" />
								</li>
								<li class="item" style="position: relative;">
									<span class="title">运输单位</span>
									<input style=" display: inline-block;  width:calc(100% - 8em);" type="text" readonly placeholder="" :value="enteringDetails.transporterName" />
								</li>
								<li class="item" style="position: relative;">
									<span class="title">运输方式</span>
									<input type="text" readonly placeholder="" :value="enteringDetails.transportModeDesc" />
								</li>
							</ul>
						</div>
						<div style="  height: 38px; line-height: 38px;  background: #fafafa; text-align: center;">
							<div style="float:left; margin:0px auto; font-size:14px;  color: #333; font-weight: bold;display: block;width: 100%; ">物料信息</div>
						</div>
						<div class="public-list">
							<ul class="public-list-wrapper">
								<li class="item" v-for="(index,item) in materielList"  @tap="onMaterialItemClick($event, item)"> <!--   v-for="(index,item) in materielList"   -->
									<div class="mui-switch" v-bind:class="[item.isReceived == '1' ? 'mui-switch mui-active' : 'mui-switc']">
										<div class="mui-switch-handle"></div>
									</div>
									<ul>
										<li class="materialDes">
											<em style="width:9em;display: inline-block; text-align: right; vertical-align:top;">物料描述:</em><span style=" display: inline-block;  width:calc(100% - 9em);" v-text="item.materialDesc"></span>
										</li>
										<li><em style="width:9em; display: inline-block; text-align: right;">捆包号:</em><span v-text="item.packageNo"></span></li>
										<li><em style="width:9em; display: inline-block; text-align: right;">库位:</em><span v-text="item.warehousePlaceName"></span></li>
										<li><em style="width:9em; display: inline-block; text-align: right;">(实收)数量/重量:</em><span v-text="item.realReceivableInfo"></span></li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
					<!--附件-->
					<div id="div_attach" class="mui-slider-item mui-control-content content m-list-time-line">
						<div style="width: 100%; margin: 10px auto; margin-top: 40px;">
							<!--文件区域-->
							<div v-cloak>
								<ul class="mui-table-view">
									<div id="reader"></div>
									<li class="mui-table-view-cell mui-media" v-for="(index, file) in files">
										<a class="" @tap="openFile(file.id, file.baidudocId)">
											<img class="mui-media-object mui-pull-left" style="width:2.5em;" :src="getcoverUrl(index)">
											<div class="mui-media-body">
												{{file.fileName.length
												<18?file.fileName:file.fileName.substring(0,5)+ '...'+file.fileName.substr(-9)}} <!-- <p class="mui-ellipsis" >
													</p> -->
													
													<!--<div class="delete" @click="delete(file, 1)">删除</div>-->
											</div>
										</a>
									</li>
								</ul>
							</div>
							<!--图片区域-->
							<div v-clock>
								<ul class="mui-table-view mui-grid-view">
									<li class="mui-table-view-cell mui-media mui-col-xs-3" v-for="image in imageFiles" style="height: 88px;margin:10px 0;position: relative;">
										<img class="" data-preview-src="{{image.previewFileUrl}}" data-preview-group="1" style="position: absolute;top:0;right: 2%; border-radius:4px;margin: 0 auto;width: 96%;" src="{{image.fileUrl}}">

									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<nav id="nav_footer" class="mui-bar mui-bar-tab">
				<div class="nav-left" v-text="totalInfo"></div>
				<div class="nav-right" @tap="close">关闭</div>
			</nav>
		</div>
	</body>
	<script type="text/javascript " id="seajsnode " src="../../../js/seajs/sea-all.min.js"></script>
	<script>
		seajs.use("../js/receive-list-detail.js");
	</script>

</html>