<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>吊牌识别</title>
		<!--标准mui.css-->
		<link rel="stylesheet" href="../../../css/mui.css" />
		<link rel="stylesheet" href="../../../css/mui.picker.css" />
		<link rel="stylesheet" href="../../../css/mui.poppicker.css" />
		<link rel="stylesheet" href="../../../css/mui.dtpicker.css" />
		<link rel="stylesheet" href="../../../css/reset.css" />
		<link rel="stylesheet" href="../../../js/layui/css/layui.mobile.css">
		<link rel="stylesheet" type="text/css" href="../css/tag-discern-list.css" />
	</head>

	<body>
		<div id="off-canvas" class="mui-off-canvas-wrap mui-slide-in">
			<!-- 侧滑导航根容器 -->
			<div class="mui-off-canvas-wrap" id="contentDiv">
				<!-- 主页面容器 -->
				<div class="mui-inner-wrap">
					<header class="mui-bar mui-bar-nav">
						<div class="mui-action-back">
							<a class="mui-icon mui-icon-left-nav mui-pull-left"></a>
							<span class="wms-title" style="margin: 1px 0px 0px -3px;" v-text="headTitle"></span>
						</div>
					</header>
					<div id="slider" class="mui-content mui-slider">
						<div id="sliderContent" class="mui-slider-group">
							<div id="contentList" class="mui-slider-item mui-control-content mui-active">
								<div class="search-wrap">
									<div class="search" @tap="showOffExponentQuery">
										<span class="mui-icon mui-icon-search"></span>
									</div>
								</div>
								<div class="public-list mui-scroll-wrapper" style="margin-bottom: 45px;">
									<ul class="public-list-wrapper mui-scroll">
										<li @tap="processListItem($event, listItem.status, listItem.id)" class="item" v-for="(index,listItem) in contentPage.contentList">
											<!--<li class="item" v-for="n in 11">-->
											<ul>
												<li class="title"><em class="bold">任务号:</em><span class="bold" v-text="listItem.signsCode"></span><span style="position: absolute; right: 5px;" v-text="listItem.signsDate"></span></li>
												<li class="materialDes">
													<em style="width:125px;display: inline-block; text-align: right;">品名:</em><span v-text="listItem.brandName"></span>
												</li>
												<li><em style="width:125px;display: inline-block; text-align: right;">产地:</em><span v-text="listItem.placesteelName"></span></li>
												<li><em style="width:125px;display: inline-block; text-align: right;">数量/重量:</em><span v-text="listItem.totalInfo"></span></li>
												<li><em style="width:125px;display: inline-block; text-align: right;">状态:</em><label v-if="listItem.status=='2'" class="status-complete">完成</label><label v-if="listItem.status=='0'" class="status-continue">继续</label></li>
											</ul>
										</li>
									</ul>
								</div>
								<div class="footer">
									<span v-if="contentPage.contentList.length > 0" class="total">合计:</span>
									<em v-if="contentPage.contentList.length > 0" v-text="totalInfo"></em>
									<input type="button" value="识别登记" @tap="processListItem($event, 0, '')" />
								</div>
							</div>
						</div>
					</div>
					<div class="mui-off-canvas-backdrop"></div>
				</div>
				<!-- 菜单容器 -->
				<aside class="mui-off-canvas-right" id="searchVue" style="width: 90%; background: #F0F0F0;">
					<header class="mui-bar mui-bar-nav">
						<div class="back-area" @tap="hideOffCanvaQuery">
							<a id="back-cust-list-btn" class="mui-icon mui-icon-left-nav mui-pull-left"></a>
							<h1 class="mui-title" style="left:40px; width: 4em; top:3px;">查询条件</h1>
						</div>
					</header>
					<div id="div_search_summary" class="mui-scroll-wrapper" style="margin-bottom: 43px;">
						<div class="mui-scroll">
							<div style="margin-top: 38px;height: 5px; background:#fff;">
							</div>
							<div class="mui-clearfix"></div>
							<div class="mui-card" style="margin: 0;">
								<ul class="info-list">
									<li class="item" style="position: relative;">
										<span class="title">任务号:</span>
										<input type="text" style="width: 170px;" v-model="contentPage.filterConditions.packageNo" />
									</li>
								</ul>
								<div id="div_search_top_time" class="ioexp-top-time">
									<table>
										<tr>
											<td>
												<table id="tb_search_top_time">
													<tr>
														<td>
															<span style="margin-left: 18px;" v-text="'时间:'"></span>
														</td>
														<td id="td_day_first" class="time-selected tap-time" @tap="selectDate($event, 0)"><span>当天</span></td>
														<td id="td_day_second" class="tap-time" @tap="selectDate($event, 1)"><span>近7天</span></td>
														<td></td>
													</tr>
												</table>
											</td>
										</tr>
										<tr>
											<td style="height: 10px;"></td>
										</tr>
										<tr>
											<td>
												<span style="margin-left: 10px; font-size: 14px;"></span>&nbsp;&nbsp;<input style="width: 130px;" type="text" readonly placeholder="起始时间" :value="contentPage.filterConditions.beginDate" @tap="pickBeginDate" />&nbsp;--&nbsp;<input style="width: 130px;" type="text" readonly placeholder="结束时间" :value="contentPage.filterConditions.endDate" @tap="pickEndDate" />
											</td>
										</tr>
									</table>
								</div>
								<ul class="mui-table-view" style="margin-top: 10px;">
									<li id="li_warehouse" class="mui-table-view-cell mui-collapse mui-active">
										<a class="mui-navigate-right" href="#">仓库</a>
										<div class="mui-collapse-content mtx-content-div">
											<div class="mui-scroll-wrapper mtx-scroll-div" id="warehouseScrollDiv">
												<div class="mui-scroll">
													<ul style="background: #fff;">
														<li v-for="warehouse in conditions.warehouseList" class="warehouseA" v-text="warehouse.text" :id="'warehouse_'+warehouse.id" :mtxId="warehouse.id" @tap="searchIvntDetail($event,warehouse.id);" style="font-size:1em; list-style:none; float: left; height: 38px; line-height: 38px; padding: 0px 10px;"></li>
													</ul>
												</div>
											</div>
										</div>
									</li>
									<li class="mui-table-view-cell mui-collapse">
										<a class="mui-navigate-right" href="#">产地</a>
										<div class="mui-collapse-content mtx-content-div">
											<div class="mui-scroll-wrapper mtx-scroll-div" id="placesteelScrollDiv">
												<div class="mui-scroll">
													<ul>
														<li v-for="placesteel in placesteelList" class="placesteelA" v-text="placesteel.text" :id="'placesteel_'+placesteel.id" :mtxId="placesteel.id" @tap="searchIvntDetail($event,placesteel.id);" style="font-size:1em; list-style:none; float: left; height: 38px; line-height: 38px; padding: 0px 10px;"></li>
													</ul>
												</div>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div id="btnList">
						<button class="reset" @tap="resetFilter">重置</button>
						<button class="sure" @tap="complete">完成</button>
					</div>
				</aside>
			</div>
		</div>
	</body>
	<script type="text/javascript " id="seajsnode " src="../../../js/seajs/sea-all.min.js"></script>
	<script>
		seajs.use("../js/tag-discern-list.js");
	</script>

</html>