<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>识别登记</title>
		<link rel="stylesheet" href="../../../css/mui.css" />
		<link rel="stylesheet" href="../../../css/mui.picker.css" />
		<link rel="stylesheet" href="../../../css/mui.poppicker.css" />
		<link rel="stylesheet" href="../../../css/mui.dtpicker.css" />
		<link rel="stylesheet" href="../../../css/icons-extra.css" />
		<link rel="stylesheet" href="../../../css/reset.css" />
		<link rel="stylesheet" type="text/css" href="../css/tag-discern-edit.css" />
	</head>

	<body id="body_content">
		<div id="div_detail">
			<header class="mui-bar mui-bar-nav">
				<div class="mui-action-back">
					<a class="mui-icon mui-icon-left-nav mui-pull-left"></a>
					<span class="wms-title" v-text="titleStr"></span>
				</div>
				<input type='text' id='txt_scanner' style="width:0px; background:none; border:none;"></input>
			</header>
			<div id="slider" class="mui-content mui-slider">
				<div class="fixed-top">
					<div class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted" style="height: 40px; line-height:40px; border-bottom: 1px solid #ebebeb;">
						<a class="mui-control-item" href="#div_basic_info" @tap="onItemSliderClick($event,0)">基本信息</a>
						<a class="mui-control-item" href="#div_material" @tap="onItemSliderClick($event,1)">物料信息</a>
					</div>
					<div id="sliderProgressBar" class="mui-slider-progress-bar mui-col-xs-6"></div>
				</div>
				<div id="sliderContent" class="mui-slider-group" style="top: -2px;">
					<!--基本信息-->
					<div id="div_basic_info" class="mui-slider-item mui-control-content mui-active" style="background: #FFFFFF;">
						<div id="queryContent" class="mui-scroll-wrapper">
							<div class="mui-scroll">
								<ul class="query-list" style="margin-top: 42px;">
									<li class="item">
										<span class="title">
										<span style="color: red;">*&nbsp;</span>时间
										</span>
										<input type="text" readonly :value="signsDate" />
									</li>
									<li class="item" style="position: relative;">
										<span class="title"><span style="color: red;">*&nbsp;</span>产地</span>
										<input style="display: inline-block; width:calc(100% - 8em);" type="text" readonly placeholder="请选择产地" :value="placesteelName" @tap="pickPlacesteel" />
										<span class="mui-icon mui-icon-arrowright" style="position: absolute; right: 0; top: 6px;"></span>
									</li>
									<li class="item" style="position: relative;">
										<span class="title"><span style="color: red;">*&nbsp;</span>品名</span>
										<input style="display: inline-block; width:calc(100% - 8em);" type="text" readonly placeholder="请选择品名" :value="brandName" @tap="pickBrand" />
										<span class="mui-icon mui-icon-arrowright" style="position: absolute; right: 0; top: 6px;"></span>
									</li>
									<li class="item" style="position: relative;">
										<span class="title"><span style="color: red;">*&nbsp;</span>货主单位</span>
										<input style="display: inline-block; width:calc(100% - 8em);" type="text" readonly placeholder="请选择货主单位" :value="ownerName" @tap="pickOwnerName" />
										<span class="mui-icon mui-icon-arrowright" style="position: absolute; right: 0; top: 6px;"></span>
									</li>
									<li class="item" style="position: relative;">
										<span class="title">车船号</span>
										<input style="display: inline-block; width:calc(100% - 8em);" readonly type="text" placeholder="请输入车船号" v-model="transportNo" @tap="toInput($event, 1, transportNo)" />
									</li>
									<li class="item" style="position: relative;">
										<span class="title"><span style="color: red;">*&nbsp;</span>仓库</span>
										<input style="display: inline-block; width:calc(100% - 8em);" type="text" readonly placeholder="请选择仓库" :value="warehouseName" @tap="pickWarehouse" />
										<span class="mui-icon mui-icon-arrowright" style="position: absolute; right: 0; top: 6px;"></span>
									</li>
									<li class="item" style="position: relative;">
										<span class="title"><span style="color: red;">*&nbsp;</span>制单员</span>
										<input style="display: inline-block;  width:calc(100% - 8em);" type="text" readonly placeholder="" :value="createBy" />
									</li>
									<li class="item" style="position: relative; height: 105px;">
										<span class="title" style="position: absolute;">备注</span>
										<textarea style="width:calc(100% - 7em); margin-left: 17px; margin-top: 9px; position: absolute; left:5em;" readonly placeholder="请输入备注" v-model="remarks" @tap="toInput($event, 2, remarks)"></textarea>
									</li>
								</ul>
								<div style="height: 45px; position: relative;">
								</div>
							</div>
						</div>
					</div>
					<div id="div_material" class="mui-slider-item mui-control-content">
						<div style="height:38px; line-height: 38px; display: block; margin-right: 0px; margin-top:47px;">
							<div style="float:left; margin:0px auto; font-size:14px; color: #333; font-weight: bold;display: block;width: 60%; padding-left: 10px;">物料信息&nbsp;&nbsp;<span v-text="totalStr"></span></div>
							<span v-if="!isPDA" @tap="scannerQRCode" class="mui-btn-outlined mui-pull-right" style="margin-top: 6px;margin-right: 15px;">
							<span class="mui-icon-extra mui-icon-extra-sweep"></span>
							</span>
						</div>
						<div id="div_material_list" class="public-list mui-scroll-wrapper">
							<ul class="public-list-wrapper mui-scroll">
								<li class="item" v-for="(index,item) in detailPage.materialList">
									<!--<li class="item" v-for="(index,item) in 11">-->
									<ul class="uibg">
										<!--改变背景颜色 uibga 或  uibg-->
										<li class="materialDes">
											<em style="width:110px;display: inline-block;  text-align:right;">材质:</em><span v-text="item.textureName"></span>
										</li>
										<li class="materialDes">
											<em style="width:110px;display: inline-block;  text-align:right;">规格:</em><span v-text="item.specificationName"></span>
										</li>
										<li><em style="width:110px;display: inline-block; text-align:right; padding-left: 0px; ">数量/重量:</em><span v-text="item.signsInfo"></span></li>
										<span class="mui-icon mui-icon-trash" @tap="trash($event, item)" style="position: absolute; right:3px; bottom: 7px;"></span>
									</ul>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<nav id="nav_footer" class="mui-bar mui-bar-tab">
			<div class="nav-left" @tap="onTemporaryClick">暂存</div>
			<div class="nav-right" @tap="onSubmitClick">完成</div>
		</nav>
	</body>
	<script type="text/javascript " id="seajsnode " src="../../../js/seajs/sea-all.min.js"></script>
	<script>
		seajs.use("../js/tag-discern-edit.js");
	</script>
	<style>
		.mui-table-view.mui-grid-view {
			width: 100%;
			margin: 40px auto;
			margin-bottom: 0px;
		}
	</style>

</html>