.new_search_box {
	padding-bottom: 0 !important;
	text-align: center;
}
.left-part{
	width: calc(50% - 5px);
	height: 100%;
	float: left;
	padding: 10px;
	background-color: pink;
	overflow-y: auto;
}
.right-part{
	width: calc(50% - 5px);
	height: 100%;
	float: right;
	padding: 10px 10px 0 10px;
	background-color: #F6F6F6;
	position: relative;
	overflow-y: auto;
}
.all_box{
	padding: 0;
	background-color: white;
}
.info_list_ul {
	width: 100%;
	margin: 0 auto;
	text-align: left;
}
.info_list_li {
	display: inline-block;
	width: calc(24% - 1px);
	height: 40px;
	background: #F6F6F6;
	line-height: 35px;
	margin: 0 3px 10px 3px;
	border: 1px solid #EBEBEB;
	border-radius: 3px;
}
.info_list_input_li {
	background: white;
}
.car_num {
	color: #4989F4;
	font-size: 16px;
	font-weight: bold;
}
.material_list_box {
	width: 100%;
	display: inline-block;
	height: calc(100vh - 148px);
	float: left;
}
.all_list_box {
	width: 100%;
}
.material_list_li {
	width: 100%;
	background: white;
	margin-bottom: 10px;
	padding: 10px 10px 0 10px;
	line-height: 20px;
	box-shadow: 5px 5px 5px #ebebeb;
}
.all_list_li {
	display: inline-block;
	width: calc(100% - 10px);
	margin-left: 5px;
	margin-right: 5px;
    overflow: hidden;
	vertical-align: top;
}
.all_list_button {
	display: inline-block;
	width: 50px !important;
	margin-right: 0 !important;
}
.material_list_li:last-of-type {
	margin-bottom: 0;
}
.material_object {
	width: 225px !important;
}
.material_property {
	/* width: 100px !important; */
	text-align: left !important;
}
.reserve_list_box {
	width: calc(50% - 5px);
	display: inline-block;
	float: right;
	margin-bottom: 10px;
	height: calc(50vh - 127px);
}
.box_title {
	font-size: 10px;
	line-height: 10px;
}
.box_img {
	width: 195px;
	height: 91px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -80%);
}
.reserve_list_li {
	background-color: white;
	font-size: 13px;
	margin-bottom: 10px;
	/* height: 40px; */
	line-height: 20px;
	padding: 5px 20px 3px 20px;
	position: relative;
	overflow: hidden;
}
.used{
	position: absolute;
	top: 0;
	right: 0;
	width: 60px;
	height: 38px;
	background-color: rgb(129, 212, 250);
	padding-top: 20px;
	line-height: 20px;
	text-align: center;
	color: white;
	font-size: 12px;
	transform: rotate(45deg) translate(8px,-28px);
}
.reserve_list_li:last-of-type {
	margin-bottom: 0;
}
.car_num {
	font-size: 13px;
}
.reserve_button {
	width: 80px;
	margin-top: -8px;
	float: right;
	height: 30px !important;
	font-size: 12px !important;
	line-height: 10px;
}
.reserved_list_box {
	width: calc(50% - 5px);
	display: inline-block;
	float: right;
	/* height: calc(50vh - 127px); */
	height: calc(100vh - 244px);
}
.reserved_num_control {
	width: 190px;
	height: 30px;
	line-height: 10px;
	border: 1px solid #EBEBEB;
	display: inline-block;
	padding: 10px;
	margin-right: 41px;
}
.reserved_num_control_title {
	color: #BDBDBD;
	font-size: 11px;
}
.reserved_num_control_num {
	display: inline-block;
	border: none;
	border-bottom: 1px solid #EBEBEB;
	padding-bottom: 2px;
	text-align: center;
	color: #333333;
	font-size: 13px;
	max-width: 35px;
	margin-top: -5px;
	/* margin: 0 5px 0px 5px; */
	vertical-align: top;
	
}
.reserved_num_control_minus {
	/* display: inline-block; */
	width: 29px;
	height: 24px;
	text-align: center;
	/* font-size: 18px; */
	border: 1px solid #CDD9E6;
	color: #678696;
	vertical-align: top;
	/* padding-top: 7px; */
	font-weight: normal;
	border-radius: 0;
	line-height: 10px;
	padding: 0;
	/* float: right; */
	margin-top: -8px;
}
.reserved_num_control_plus {
	/* font-size: 30px; */
	/* font-weight: lighter; */
	margin-left: -1px;
}
.blue_button {
	background: #4285F4;
	color: white;
}
.light_blue_button {
	background: #EBF3FE;
	color: black;
}
.green_button {
	background: #66CC66;
	color: white;
}
.work_box {
	padding: 0 10px 10px 10px;
	height: calc(100vh - 144px);
}
.full_info {
	width: 100%;
	margin-left: 0;
}
.half_info {
	width: calc(50% - 6px);
	margin: 0;
	margin-bottom: 10px;
}
.half_info_right {
	float: right;
}
.computation_property {
	width: 100px !important;
}
.computation_control_num {
	margin-top: 4px;
	font-size: 15px;
}
.computation_control_minus {
	margin-top: 7px;
	margin-left: -1px;
}
.computation_weight_box {
	width: 100%;
	height: 60px;
	border: 1px solid #EBEBEB;
	border-radius: 3px;
	padding: 10px;
}
.computation_true_weight_box {
	display: inline-block;
	width: calc(50% - 5px);
	height: 40px;
	line-height: 40px;
	background-color: #FAFAFA;
	text-align: center;
	border: 1px solid #FAFAFA;
	border-radius: 3px;
}
.weight_title {
	color: #919191;
	display: inline-block;
	height: 30px;
	width: 30px;
	font-size: 12px;
	line-height: 12px;
	margin-top: 10px;
}
.true_weight {
	color: #FF8888;
	font-size: 25px;
	margin: 0 6px 0 14px;
}
.computation_input_weight_box {
	display: inline-block;
	width: calc(50% - 5px);
	float: right;
	height: 40px;
	border: 1px solid #EBEBEB;
	border-radius: 3px;
}
.input_weight {
	max-width: 130px;
	color: #000000;
	font-size: 28px;
	padding: 0;
	margin-top: 2px;
	border: none;
}
.weight_button {
	float: right;
	width: 50px;
	height: 38px;
	border: none;
}
.comp_table_box {
	height: 140px;
	overflow: scroll;
}
.comp_tip {
	width: 100%;
	height: 30px;
	font-size: 13px;
	font-weight: bold;
	color: #794808;
	padding: 10px;
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.comp_tip span{
	padding: 2px 5px;
	background-color: #FCECC8;
}
.comp_tip label{
	font-size: 20px;
	margin-left: 40px;
}
.comp_button_box {
	margin-top: 5px;
}
.comp_button {
	width: calc(50% - 5px);
	border: none;
}
.money_search_box {
	background: #F6F6F6;
}
.money_list_li {
	background: white;
}
.money_button {
	float: right;
	border: none;
	width: 100px;
	height: 40px;
	margin-right: 8px;
	margin-top: 10px;
}
.tip_popover {
	top: 30% !important;
}
.tip_tip {
	width: 100%;
}
.tip_tip span{
	color: rgb(239, 83, 80);
	font-size: 20px;
}
.tip_button_box {
	width: 100%;
	text-align: center;
}
.tip_button {
	margin: 10px 1% 0 1%;
	border: none;
	width: 30%;
}
.new_input_select {
	width: 100% !important;
	border: none !important;
	padding-left: 0 !important;
}
.new_label {
	width: 100px !important;
	text-align: right;
}
.new_input {
	width: calc(100% - 105px) !important;
	border: none !important;
	margin: 0 !important;
}
.select2 {
	margin-left: 10px;
}
.select2-container {
	z-index: 11;
}
.new_list_status {
	font-size: 11px;
	color: rgb(244, 67, 54);
	border: 1px solid rgb(244, 67, 54);
	padding: 4px;
	vertical-align: top;
	border-radius: 5px 0px 5px 0px;
	box-shadow: 1px 1px 3px #ebebeb;
}
.new_list_status1 {
	font-size: 11px;
	color: rgb(0, 230, 118);
	border: 1px solid rgb(0, 230, 118);
	padding: 4px;
	vertical-align: top;
	border-radius: 5px 0px 5px 0px;
	box-shadow: 1px 1px 3px #ebebeb;
}
.deep_bg{
	background-color: #EBF3FE;
}
.active_item{
 background-color: rgb(225, 245, 254);
}
.revlabel{
	color: #919191;
}
.jl_worning{
	position: fixed;
	top:  20px;
	right: -320px;
	z-index: 999;
	width: 320px;
	height: 48px;
	border-radius: 4px;
	opacity: 0;
	line-height: 48px;
	padding-left: 20px;
	color: rgb(246, 116, 119);
	border: 1px solid rgb(239, 154, 154);
	background-color: rgb(254, 240, 240);
	transition: all 0.7s linear;
}
.show_jl_worning{
	opacity: 1;
	right: 20px;
	transition: all 0.3s linear;
}
.shop_tip {
	position: absolute;
	width: 15px;
	height: 15px;
	border-radius: 100%;
	background: #4486F4;
	color: white;
	font-size: 11px;
	top: -5px;
	right: -5px;
	text-align: center;
	line-height: 15px;
}
.padding_left{
	padding-left: 20px !important;
}
.shop_table_box {
	height: 340px;
	overflow: scroll;
}
.shopping_popover{
	width: 80%;
}
.flex_box{
	margin-top: 38px;
	height: calc(100% - 42px);
	overflow: auto;
}
.lengthSearch{
	height: 32px;
	width: 100%;
	display: flex;
	margin-bottom: 10px;
	position: absolute;
	top: 8px;
	left: 0;
}
.input_label{
	width: 60px;
	text-align: right;
	font-size: 14px;
	color: #919191;
	line-height: 32px;
}
.input_box{
	flex: 1;
	display: flex;
	align-items: center;
}
#lengthSearch{
	border: none;
	margin: 0 0 0 20px;
	width: 120px;
	height: 20px;
}
.changeDetial{
	margin-right: 20px;
	border: none;
}
.flex_box{
	margin-top: 38px;
	height: calc(100% - 42px);
	overflow: auto;
}
.btns{
	display: flex;
	justify-content: center;
}
.material_list_li:last-child{
	margin-bottom: 48px;
}
.btns button{
	border: none;
	width: 100px;
	margin: 0 50px;
}
.mui_shop {
	position: relative;
}
.shop_tip {
	position: absolute;
	width: 15px;
	height: 15px;
	border-radius: 100%;
	background: #4486F4;
	color: white;
	font-size: 11px;
	top: -5px;
	right: -5px;
	text-align: center;
	line-height: 15px;
}
.showSite{
	font-size: 14px;
	line-height: 32px;
	margin-right: 20px;
	color: #333333;
}
.reserve_list_li:last-child{
	margin-bottom: 54px;
}
@media screen and (max-height: 500px) {
    .new_bottom_box {
        visibility: hidden;
		opacity: 0;
		transition: all 0.1s linear;
    }
}
.select2-selection{
	display: inline-block !important;
	width: 140px !important;
}
.openAndCloseValue{
	float: left;
	white-space: pre-wrap;
}
.openAndClose{
	float: left;
	color: #4989F4;
	font-size: 14px;
}
.openAndCloseHidden{
	visibility: hidden;
}
.file_box {
	padding: 10px 10px 10px 10px;
	height: calc(100vh - 134px);
	display: flex;
	flex-direction: column;
	align-items: center;
}
#addFile{
	height: 36px;
	width: 98%;
	font-size: 16px;
}
.image_box{
	width: 20%;
	display: inline-block;
	position: relative;
}
.del_img{
	position: absolute;
	top: 0;
	right: 0;
	width: 20px;
	height: 20px;
}
.del_img .mui-icon{
	width: 30px;
	height: 30px;
	font-size: 20px;
}
.font_red_color{
	color: red !important;
}