<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>物料明细</title>
		<link rel="stylesheet" href="../../../css/mui.css" />
		<link rel="stylesheet" href="../../../css/reset.css" />
		<link rel="stylesheet" type="text/css" href="../css/material-details.css" />

	</head>

	<body id="body_material_details">
		<div>
			<header class="mui-bar mui-bar-nav">
				<div class="mui-action-back">
					<a class="mui-icon mui-icon-left-nav mui-pull-left"></a>
					<span class="wms-title">物料明细</span>
				</div>
			</header>
			<div id="div_material_details" class="mui-content">
				<ul class="info-list">
					<li class="item-first">
						<span class="title">
							<span style="color: red;">*&nbsp;</span>物料描述
						</span>
						<span class="content" v-text="materialDetails.materialDesc"></span>
						<!--<span class="content" v-text="'大富大贵地方都费大幅度发大幅度发对的发大幅度发对的大富大贵地方都费大幅度发大幅度发对的发大幅度发对的大富大贵地方都费大幅度发大幅度发对的发大幅度发对的大富大贵地方都费大幅度发大幅度发对的发大幅度发对的大富大贵地方都费大幅度发大幅度发对的发大幅度发对的大富大贵地方都费大幅度发大幅度发对的发大幅度发对的'"></span>-->
					</li>
					<li class="item">
						<span class="title">
							<span style="color: red;">*&nbsp;</span>捆包号
						</span>
						<input type="text" readonly :value="materialDetails.packageNo" />
					</li>
					<li class="item" style="position: relative;">
						<span class="title">
							<span style="color: red;">*&nbsp;</span>应发数量
						</span>
						<input type="text" readonly style="width: 180px;" :value="materialDetails.outputNum" />
						<span style="font-size: 16px;" v-text="materialDetails.outputNumUnitDesc"></span>
					</li>
					<li class="item" style="position: relative;">
						<span class="title">
							<span style="color: red;">*&nbsp;</span>应发重量
						</span>
						<input type="text" readonly style="width: 180px;" :value="materialDetails.outputWeight" />
						<span style="font-size: 16px;" v-text="materialDetails.outputWeightUnitDesc"></span>
					</li>
					<li class="item" style="position: relative;">
						<span class="title">
							<span style="color: red;">*&nbsp;</span>实提数量
						</span>
						<input id="txt_real_num" type="number" style="width: 180px;" v-model="realNum" />
						<span style="font-size: 16px;" v-text="materialDetails.realNumUnitDesc"></span>
					</li>
					<li class="item" style="position: relative;">
						<span class="title">
							<span style="color: red;">*&nbsp;</span>实提重量
						</span>
						<input id="txt_real_weight" type="number" style="width: 180px;" v-model="realWeight" />
						<span style="font-size: 16px;" v-text="materialDetails.realWeightUnitDesc"></span>
					</li>
					<li class="item">
						<span class="title">
							<span style="color: red;">*&nbsp;</span>库位
						</span>
						<input type="text" readonly :value="materialDetails.warehousePlaceName" />
					</li>
					<li class="item">
						<span class="title">
							<span style="color: red;">&nbsp;&nbsp;</span>层号
						</span>
						<input type="text" readonly :value="materialDetails.storeyNo" />
					</li>
					<li class="item">
						<span class="title">
							<span style="color: red;">&nbsp;&nbsp;</span>资源号
						</span>
						<input type="text" readonly :value="materialDetails.materialNo" />
					</li>
					<li class="item">
						<span class="title">
							<span style="color: red;">*&nbsp;</span>车船号
						</span>
						<input type="text" readonly :value="materialDetails.carNo" />
					</li>
					<li class="item">
						<span class="title">
							<span style="color: red;">*&nbsp;</span>计量方式
						</span>
						<input type="text" readonly :value="materialDetails.countWeightModeDesc" />
					</li>
				</ul>
			</div>
			<div style="height: 55px;"></div>
		</div>
		<nav id="nav_footer" class="mui-bar mui-bar-tab"> 
			<div class="nav-div" @tap="submit">提交</div>
		</nav>
	</body>
	<script type="text/javascript " id="seajsnode " src="../../../js/seajs/sea-all.min.js"></script>
	<script>
		seajs.use("../js/material-details.js");
	</script>

</html>