<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>出库实提</title>
		<link rel="stylesheet" href="../../../css/mui.css" />
		<link rel="stylesheet" href="../../../css/mui.picker.css" />
		<link rel="stylesheet" href="../../../css/mui.poppicker.css" />
		<link rel="stylesheet" href="../../../css/mui.dtpicker.css" />
		<link rel="stylesheet" href="../../../css/icons-extra.css" />
		<link rel="stylesheet" href="../../../css/reset.css" />
		<link rel="stylesheet" type="text/css" href="../css/outing-details.css" />

	</head>

	<body>
		<div id="body_outing_details">
			<header class="mui-bar mui-bar-nav">
				<div class="mui-action-back">
					<a class="mui-icon mui-icon-left-nav mui-pull-left"></a>
					<span class="wms-title">出库实提</span>
				</div>
				<input type='text' id='txt_scanner' style="width:0px; background:none; border:none;"></input>
				<!--<input type='text' id='txt_scanner' style="width:100px;"></input>-->
				<span v-if="!isPDA" @tap="scannerQRCode" class="mui-btn-outlined mui-pull-right" style="margin-top: 13px;margin-right: 5px;">
					<span class="mui-icon-extra mui-icon-extra-sweep"></span>
				</span>
			</header>
			<div id="slider" class="mui-content mui-slider">
				<div class="fixed-top">
					<div class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted" style="height: 40px; line-height:40px; border-bottom: 1px solid #ebebeb;">
						<a class="mui-control-item" href="#div_basic_info" @tap="onItemSliderClick($event,0)">基本信息</a>
						<a class="mui-control-item" href="#div_attach" @tap="onItemSliderClick($event,1)">附件</a>
					</div>
					<div id="sliderProgressBar" class="mui-slider-progress-bar mui-col-xs-6"></div>
				</div>
				<div id="sliderContent" class="mui-slider-group" style="top: -2px;">
					<!--基本信息-->
					<div id="div_basic_info" class="mui-slider-item mui-control-content mui-active">
						<div id="div_basic_info_scroll" class="mui-scroll-wrapper">
							<div class="mui-scroll">
								<div id="queryContent">
									<ul class="query-list">
										<li class="item">
										</li>
										<li class="item">
											<span class="title">
										<span style="color: red;">*&nbsp;</span>发货单号
											</span>
											<input type="text" readonly placeholder="发货单号" v-model="sendCode" />
										</li>
										<li class="item" style="position: relative;">
											<span class="title">
										<span style="color: red;">*&nbsp;</span>出库时间
											</span>
											<input type="text" readonly placeholder="出库时间" v-model="outputDate" @tap="pickOutTime" />
											<span class="mui-icon mui-icon-arrowright" style="position: absolute; right: 0; top: 6px;"></span>
										</li>
										<li class="item" style="position: relative;">
											<span class="title"><span style="color: red;">*&nbsp;</span>提单号</span>
											<input type="text" readonly placeholder="提单号" :value="ladingCode" @tap="toInput($event, 1, ladingCode)" />
											<span class="mui-icon mui-icon-arrowright" style="position: absolute; right: 0; top: 6px;"></span>
										</li>
										<li class="item">
											<span class="title"><span style="color: red;">*&nbsp;</span>货主单位</span>
											<input type="text" readonly placeholder="货主单位" :value="ownerName" />
										</li>
										<li class="item" style="position: relative;">
											<span class="title"><span style="color: red;">*&nbsp;</span>结算单位</span>
											<input type="text" readonly placeholder="请选择结算单位" :value="spenderName" @tap="pickSpender" />
											<span class="mui-icon mui-icon-arrowright" style="position: absolute; right: 0; top: 6px;"></span>
										</li>
										<li class="item" style="position: relative;">
											<span class="title"><span style="color: red;">*&nbsp;</span>结算方式</span>
											<input type="text" readonly placeholder="请选择结算方式" :value="paymentMode" @tap="pickPaymentMode" />
											<span class="mui-icon mui-icon-arrowright" style="position: absolute; right: 0; top: 6px;"></span>
										</li>
										<li class="item" style="position: relative;">
											<span class="title"><span style="color: red;">*&nbsp;</span>车牌号</span>
											<input type="text" placeholder="车牌号" :value="carPlateNo" readonly @tap="toInput($event, 2, carPlateNo)" />
											<span class="mui-icon mui-icon-arrowright" style="position: absolute; right: 0; top: 6px;"></span>
										</li>
									</ul>
								</div>
								<div style="margin-top: 10px; height: 30px; line-height: 30px; margin-right: 5px; margin-bottom: 10px;">
									<div style="float:left; margin:0px auto; font-size:14px;  color: #333; font-weight: bold;display: block;width: 60%; padding-left: 10px;">物料信息</div>
									<div v-if="isBatchAdd" style="float:right; line-height: 30px; width: 100px; border: 1px solid #ccc; border-radius: 20px; background: #fff; padding: 0px 10px; margin-top: 5px;" @tap="batchAdd">
										<div style="float:left;font-size:28px; color: #5677fc; margin-top: -1px;">+</div>
										<div style="float:right;font-size: 14px;">批次添加</div>
									</div>
								</div>
								<div id="div_material_list" class="public-list">
									<ul class="public-list-wrapper">
										<li :id="'li_'+item.cbxId" v-for="(index,item) in materialList" class="item">
											<input v-if="isMaterielSelectShow" :id="item.cbxId" type="checkbox" name="cbx" style=" position: absolute; top:40px;left:15px; z-index: 999; width: 22px; height: 22px;border: 1px solid #ccc; border-radius: 50%;" @change="onMaterielCBoxChange($event,item)" />
											<!--<li v-for="n in 21" class="item" >
									<input v-if="true" :id="item.cbxId"  type="checkbox" name="cbx"  style=" position: absolute; top:40px;left:15px; z-index: 999; width: 22px; height: 22px;border: 1px solid #ccc; border-radius: 50%;"  @change="onMaterielCBoxChange($event,item)" />-->

											<ul :id="'ul_'+item.cbxId" @tap="onMaterialItemClick($event, item)" class="uibg" v-bind:class="[item.isScan == '1' ? 'uibga' : 'uibg'">
												<!--改变背景颜色 uibga 或  uibg-->
												<li class="materialDes">
													<em style="width:110px;display: inline-block;  text-align:right; float: left;vertical-align:top;">物料描述:</em><span v-text="item.materialDesc" style="width:calc(100% - 110px); display: inline-block; float: left;"></span>
												</li>
												<li><em style="width:110px;display: inline-block; text-align:right; ">捆包号:</em><span v-text="item.packageNo"></span></li>
												<li><em style="width:110px;display: inline-block; text-align:right; ">库位:</em><span v-text="item.warehousePlaceName"></span></li>
												<li><em style="width:110px;display: inline-block; text-align:right; padding-left: 0px; ">(实提)数量/重量:</em><span :id="'spn_'+item.cbxId" v-text="item.realPickInfo"></span>
													<span class="mui-icon mui-icon-close material-del" @tap="deleteItem($event, item)"></span>
												</li>
											</ul>
										</li>
										<!--<li class="item" v-for="n in 10">
									<input type="checkbox" />
									<span class="mui-icon mui-icon-paperclip" style="float: right; font-size: 33px; margin-right: 6px; margin-top: 6px;"></span>
									<ul>
										<li><em>物料描述:</em><span v-text="'品名 材质 规格 产地'"></span></li>
										<li><em>捆包号:</em><span v-text="'GS09933'"></span></li>
										<li><em>库位:</em><span v-text="'b-10'"></span></li>
										<li><em>实提数量/重量:</em><span v-text="'12件/36吨'"></span>
											<span class="mui-icon mui-icon-close" style="float: right; font-size: 28px; margin-right: 5px;" @tap="deleteItem($event, item.id)"></span>
										</li>
									</ul>
								</li>-->
									</ul>
								</div>
								<!--<div style="height: 45px; position: relative;"></div>-->
							</div>
						</div>
					</div>
					<!--附件-->
					<div id="div_attach" class="mui-slider-item mui-control-content content m-list-time-line">
						<div style="width: 100%; margin: 10px auto;">
							<!--文件区域-->
							<div v-cloak>
								<ul class="mui-table-view">
									<li class="mui-table-view-cell mui-media" v-for="(index, file) in files">
										<a class="">
											<img class="mui-media-object mui-pull-left" style="width:2.5em;" :src="getcoverUrl(index)" @tap="openFile(file.id, file.baidudocId)">
											<div class="mui-media-body">
												{{file.fileName.length
												<18?file.fileName:file.fileName.substring(0,5)+ '...'+file.fileName.substr(-9)}} <p class="mui-ellipsis" @tap="openFile(file.id, file.)">
													</p>
													<div class="delete" @click="delete(file, 1)">删除</div>
											</div>
										</a>
									</li>
								</ul>
							</div>
							<!--图片区域-->
							<div v-clock>
								<ul class="mui-table-view mui-grid-view">
									<li class="mui-table-view-cell mui-media mui-col-xs-3" v-for="image in imageFiles" style="height: 80px;margin:10px 0;position: relative;">
										<div class="close" style="background: red; color:#fff; width: 18px; height:18px; position: absolute;top:2px;right: 4px;z-index: 1;border-radius:4px;" @click="delete(image, 2)" id="{{image.id}}">X</div>
										<img class="" data-preview-src="{{image.previewFileUrl}}" data-preview-group="1" style="position: absolute;top:0;right: 2%; border-radius:4px;margin: 0 auto;width: 96%;" src="{{image.fileUrl}}">

									</li>
									<li class="mui-table-view-cell mui-media mui-col-xs-12" id="addFile" style="height: 38px; margin:10px 0px 0px 5px;">
										<a style=" line-height: 10px; font-size: 38px; padding-left: 0px; border-radius:4px;">+<span style="font-size:16px; margin:4px 0px 0px 6px; display: inline-block; position: absolute;">添加</span></a>
									</li>

								</ul>
							</div>
						</div>

					</div>
				</div>
			</div>
			<nav id="nav_footer" class="mui-bar mui-bar-tab">
				<div class="nav-left" v-html="totalInfo"></div>
				<div class="nav-right" @tap="onSubmitClick">提交</div>
			</nav>
		</div>
	</body>
	<script type="text/javascript" id="seajsnode " src="../../../js/seajs/sea-all.min.js"></script>
	<script>
		seajs.use("../js/outing-details.js");
	</script>
	<style>
		.mui-table-view.mui-grid-view {
			width: 100%;
			margin: 40px auto;
			margin-bottom: 0px;
		}
	</style>

</html>