<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" href="../../../css/mui.min.css">
		<link rel="stylesheet" type="text/css" href="../../../css/new_style.css">
		<link rel="stylesheet" type="text/css" href="../css/recive-list.css">
		<link rel="stylesheet" type="text/css" href="../../../css/icons-extra.css">
		<title>收货作业列表</title>
	</head>
	<body>
		<div id="app">
			<div class="new_popover tip_popover" v-if="popoverSure" v-cloak>
				<div class="new_popover_header">
					操作提醒
					<span class="mui-icon mui-icon-closeempty new_popover_close" @click="openTip"></span>
				</div>
				<div class="new_popover_body" style="padding-top: 0;">
					<div class="comp_tip tip_tip">
						请确认是否完结该条物料明细，完结后该物料不能收货入库？
					</div>
					<div class="tip_button_box">
						<button class="tip_button light_blue_button" @click="openTip">取消</button>
						<button class="tip_button blue_button" @click="complete">确定</button>
					</div>
				</div>
			</div>
			<div class="new_popover shopping_popover" v-if="popoverShop" v-cloak>
				<div class="new_popover_header">
					收纳篮
					<span class="mui-icon mui-icon-closeempty new_popover_close" @click="openShop"></span>
				</div>
				<div class="new_popover_body shop_table_box" style="padding-top: 0;">
					<table class="new_table">
						<thead class="new_table_thead">
							<th class="new_table_th">序</th>
							<th class="new_table_th">货主单位</th>
							<th class="new_table_th">货品明细</th>
							<th class="new_table_th">预报单号</th>
							<th class="new_table_th">实收数量/重量</th>
							<th class="new_table_th">剩余数量/重量</th>
							<th class="new_table_th">操作</th>
						</thead>
						<tr class="new_table_tr" v-for="(idx, shop) in shopList">
							<td class="new_table_td">{{ idx + 1 }}</td>
							<td class="new_table_td">{{ shop.ownerName }}</td>
							<td class="new_table_td">{{ shop.materialDesc }}</td>
							<td class="new_table_td">{{ shop.forecastCode }}</td>
							<td class="new_table_td">{{ shop.realEnterNumTotal || 0 }}件/{{shop.realEnterWeightTotal || 0}}吨</td>
							<td class="new_table_td">{{ shop.restNumTotal || 0 }}件/{{shop.restWeightTotal || 0}}吨</td>
							<td class="new_table_td" style="color: red;" @click="chooseWork(shop)">删除</td>
						</tr>
					</table>
				</div>
			</div>
			<div class="new_mask" v-show="popoverSure||popoverShop" v-cloak></div>
			<!--导航栏-->
			<header class="mui-bar mui-bar-nav" style="background: #1566d2;z-index: 9999;">
				<button class="mui-action-back mui-btn mui-btn mui-btn-link mui-btn-nav mui-pull-left">
					<span class="mui-icon mui-icon-left-nav" style="color: #fff;"></span>
					<span style="color: #fff">收货作业列表</span>
			    </button>
				<span
					class="mui-icon-extra mui-icon-extra-sweep" 
					style="color: #fff;float: right;font-size: 30px;margin-top: 8px;"
					@tap="toScan"
				></span>
			</header>
			<div class="mui-slider-group">
				<div class="new_search_box" style="background-color: white;height: 117px;">
					<input type="number" class="new_input" placeholder="请输入预报单号" v-model="searchObj.forecastCode" >
					<input type="text" class="new_input" placeholder="请输入车牌号" v-model="searchObj.carPlateNos" >
					<input type="number" class="new_input" placeholder="请输入捆包号" v-model="searchObj.packageNo" >
					<div class="new_input_select">
						<label class="new_label">货主名称</label>
						<select class="new_select2 q-customer-name"></select>
					</div>
					<div class="new_input_select">
						<label class="new_label">品名</label>
						<select class="new_select2 q-brand-name"></select>
					</div>
					<div class="new_input_select mini_select">
						<label class="new_label">规格</label>
						<select class="new_select2 q-specification-name"></select>
					</div>
					<div class="new_input_select mini_select">
						<label class="new_label">材质</label>
						<select class="new_select2 q-quality-name"></select>
					</div>
					<div class="new_input_select mini_select">
						<label class="new_label">产地</label>
						<select class="new_select2 q-field-name" ></select>
					</div>
					<div class="new_right_button_box">
						<button class="new_button new_reset_button" @tap="reForm" >重置</button>
						<button class="new_button new_sure_button"  style="margin-right: 10px;" @tap="pullDownQuery">查询</button>
					</div>
				</div>
				<div class="mui-slider-tiem mui-control-content mui-active">
					<div class="new_list_box work_list_box mui-scroll-wrapper" style="margin-top: -10px;" v-cloak>
						<ul class="list_ul">
							<li class="list_li" v-for="task in taskWaitList">
								<div class="list_header" @tap="chooseWork(task)" style="display: flex;">
									<span class="new_list_check" style="margin-top: 5px;"> 
										<span v-show="task.checked" class="mui-icon new_mui_icon mui-icon mui-icon-checkmarkempty new_list_check_icon"></span>
									</span>
									<div class="new_list_object">
										<span class="new_list_property">预报单号</span>
										<span class="new_list_value car_num" style="font-size: 13px;">{{ task.forecastCode }}</span>
									</div>
									<div class="new_list_object long_list_object">
										<span class="new_list_property mini_size">车牌号</span>
										<span class="new_list_value mini_size">{{task.carPlateNos}}</span>
									</div>
									<div class="new_list_object long_list_object">
										<span class="new_list_value mini_size">{{task.forecastDate}}</span>
									</div>
								</div>
								<div class="new_list_body" style="display: flex;">
									<div class="new_list_object long_list_object" style="flex:10;">
										<span class="new_list_property long_list_property mini_size">货品明细</span>
										<span class="new_list_value">{{task.materialDesc}}</span>
									</div>
									<div class="new_list_object long_list_object" style="flex:10;">
										<span class="new_list_property long_list_property mini_size">捆包号</span>
										<span class="new_list_value mini_size">{{task.packageNo}}</span>
									</div>
									<div class="new_list_object long_list_object" style="flex:14;">
										<span class="new_list_property mini_size long_list_property">货主单位</span>
										<span class="new_list_value mini_size">{{task.ownerName}}</span>
									</div>
								</div>
								<div class="new_list_body" style="display: flex;">
									<div class="new_list_object long_list_object" style="flex:10;">
										<span class="new_list_property long_list_property mini_size">预报数量/重量</span>
										<span class="new_list_value">{{ task.num || 0 }}件/{{task.weight || 0}}吨</span>
									</div>
									<div class="new_list_object long_list_object" style="flex:10;">
										<span class="new_list_property long_list_property mini_size">实收数量/重量</span>
										<span class="new_list_value mini_size">{{ task.realEnterNumTotal || 0 }}件/{{task.realEnterWeightTotal || 0}}吨</span>
									</div>
									<div class="new_list_object long_list_object" style="flex:14;">
										<span class="new_list_property mini_size long_list_property">剩余数量/重量</span>
										<span class="new_list_value mini_size">{{ task.restNumTotal || 0 }}件/{{task.restWeightTotal || 0}}吨</span>
									</div>
									<button class="new_button new_sure_button task_button" @click="setComTask(task)">完结</button>
								</div>
							 </li>
						</ul>
					</div>
					<div class="new_bottom_box" style="padding-left: 20px;">
						<span 
							class="mui-icon-extra new_mui_icon mui-icon-extra-cart mui_shop" 
							style="color: #888;font-weight: bold;vertical-align: middle;"
							@click="openShop"
						>
							<span class="shop_tip" v-show="shopList.length">{{ shopList.length }}</span>
						</span>
						<div style="display: inline-block;margin-left: 18px;" @tap="allCheck">
							<span class="new_list_check" style="margin-top: 14px;">
								<span v-show="allChecked" class="mui-icon new_mui_icon mui-icon mui-icon-checkmarkempty new_list_check_icon"></span>
							</span>
							<span style="font-size: 14px;">全选</span>
						</div>
						<span class="new_all_accounts">
							合计&nbsp;&nbsp;&nbsp;<b style="color: rgb(255, 87, 34);font-size:22px">{{ allNum }}</b> 件 / <b style="color: rgb(255, 87, 34);font-size:22px">{{ allWei.toFixed(3) }}</b> 吨
						</span>
						<button class="new_bottom_button blue_button" @click="sure">
							收货登记
						</button>
					</div>
				</div>
			</div>
		</div>
		
		<script type="text/javascript" id="seajsnode" src="../../../js/seajs/sea-all.min.js"></script>
		<script>
		  	//加载主模板块
		    seajs.use("../js/recive-list.js",function(){
		      
		    });
		</script>
	</body>
</html>
